body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(to bottom, #94c2ee, #687fc7); /* CSS gradient */
}
canvas {
  height: 100%;
}canvas {
   object-fit: cover
 }